<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="ScheduMailDBEntities" connectionString="metadata=res://*/ScheduMailDBModel.csdl|res://*/ScheduMailDBModel.ssdl|res://*/ScheduMailDBModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=X:\inetpub\Schedumail\src\ScheduMail.WebMvc2\App_Data\SchedumailDB.db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>