/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.miu_html .markItUpButton1 a {
	background-image:url("Images/Markitup/bold.png");
}
.miu_html .markItUpButton2 a {
	background-image:url("Images/Markitup/italic.png");
}
.miu_html .markItUpButton3 a {
	background-image:url("Images/Markitup/stroke.png");
}

.miu_html .markItUpButton4 a {
	background-image:url("Images/Markitup/paragraph.png"); 
}
.miu_html .markItUpButton5 a {
	background-image:url("Images/Markitup/list-bullet.png");
}
.miu_html .markItUpButton6 a {
	background-image:url("Images/Markitup/list-numeric.png");
}
.miu_html .markItUpButton7 a {
	background-image:url("Images/Markitup/list-item.png");
}

.miu_html .markItUpButton8 a {
	background-image:url("Images/Markitup/picture.png"); 
}
.miu_html .markItUpButton9 a {
	background-image:url("Images/Markitup/link.png");
}

.miu_html .clean a {
	background-image:url("Images/Markitup/clean.png");
}

.miu_html .table a {
	background-image:url("Images/Markitup/table.png");
}
.miu_html .table-col a {
	background-image:url("Images/Markitup/table-col.png");
}
.miu_html .table-row a {
	background-image:url("Images/Markitup/table-row.png");
}

.miu_html .preview a {
	background-image:url("Images/Markitup/preview.png");
}

.miu_html .markdown a {
	background-image:url("Images/Markitup/html.png");
}

.miu_html .markItUpEditor {
		border: 3px solid #CC0066;		
		background-image:url("Images/Markitup/bg-editor-html.png");
}